* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  div {
    width: 300px;
    margin: 20px auto;
  }
  input {
    padding: 15px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #d7d7d7;
    background-color: #fbfbfb;
  }
  input:focus {
    outline: none;
  }
  .progress {
    background-color: #2196f3;
    height: 2px;
    width: 0;
    display: block;
    position: relative;
    top: -2px;
    transition: 0.5s;
  }
  .count {
    display: block;
    text-align: right;
    font-size: 12px;
    padding: 5px;
  }
  .zero {
    font-weight: bold;
    color: red;
  }